extends layout

block content
  h1 Search Results: Chimes

  - var results = [{ origin: 'Forest of Echoes', tone: 'Melodic', clarity: 8 }, { origin: 'Crystal Peaks', tone: 'Haunting', clarity: 6 }, { origin: 'Forgotten Temple', tone: 'Sharp', clarity: 9 }]

  .container-fluid
    .row
      each item in results
        .col-sm-2
          h5 Chime
          p Origin: #{item.origin}
          p Tone: #{item.tone}
          p Clarity:
          p
           a(href="/index") View Chimes Search Results

