extends layout

block content
  h1 Search Results: Chimes
script.
  var results = [
    { origin: 'Forest of Echoes', tone: 'Melodic', clarity: 8 },
    { origin: 'Crystal Peaks', tone: 'Haunting', clarity: 6 },
    { origin: 'Forgotten Temple', tone: 'Sharp', clarity: 9 }
  ];

  .container-fluid
  .row
    script.
      results.forEach(item => {
        const div = document.createElement('div');
        div.className = "col-sm-2";
        div.innerHTML = `
          <h5>Chime</h5>
          <p>Origin: ${item.origin}</p>
          <p>Tone: ${item.tone}</p>
          <p>Clarity: ${item.clarity}</p>
        `;
        document.querySelector('.row').appendChild(div);
      });
      p
        a(href="/chimes") View Chimes Search Results
