extends layout

block content
  h1= Chaithanya Reddy Pailla

  p Horror movies are designed to evoke fear, tension, and excitement. They often feature supernatural elements, suspenseful storytelling, and unexpected plot twists.