extends layout

block content
  h1= title
  p Welcome to my Express and Pug server – Render is live!

  button(type="button", class="btn btn-primary", onclick="faster()") Press Me
  div#faster Add in extra


  script.
  let value = 1;
  let amt = 2;

  function faster() {
    amt *= 2;
    value += amt;
    document.getElementById("faster").textContent = `Faster ${value} times ${amt}`;
  }

